$wt: #fff;
$bl: #000;
$grey: #777;
$greybg: #f9f9ff;
$iconbg: #111;
$bdc: #eee;
$blue: #0f1586;
$boxshadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
$gradient: linear-gradient(0deg, #121f91 0%, #0f1586 100%);

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
